.entryWrapper h1.entryTitle {width:850px;}

.entryWrapper .inputSection { /*#step-1, #required-fields, #optional-fields*/
	border-top:1px #e4e7fa solid;
	background-image: -moz-linear-gradient(
	  rgba(0,0,0,0.45) 0%, rgba(23,23,23,0.45) 95%
	);
	background-image: -webkit-gradient(
	  linear, left top, left bottom, from(rgba(0,0,0,0.45)),
	  to(rgba(23,23,23,0.45))
	);
	margin:0 auto 18px auto;
	padding:27px;
	width:800px;
}

.entryWrapper .inputSection.project {border-top: 1px solid #fc6500 !important;}
.entryWrapper .inputSection.person {border-top: 1px solid #00b8d9 !important;}
.entryWrapper .inputSection.organization {border-top: 1px solid #7bd900 !important;}
.entryWrapper .inputSection.event {border-top: 1px solid #d200ff !important;}

.entryWrapper .inputFormSections form label {
	color:#e7e7e4;
	float:left;
	font-size:1em;
	height:20px;
	margin:3px 0;
	padding: 0 10px 0 0;
	text-align:right;
	width:220px!important;
}
.inputFormSections input[type=text], .inputFormSections textarea, .inputFormSections select, .inputFormSections li {
	background-color:#e0dcd9;
	border:none!important;
	margin:0;
}
.inputFormSections input[type=text], .inputFormSections textarea, .inputFormSections select#categories {
	min-height:24px!important;
	width:300px!important;
}
	.inputFormSections select#categories {
		height:24px!important;
	}
.start-year, .start-month, .start-day, .end-year, .end-month, .end-day {
	margin-right:5px!important;
}

/* ===== buttons! ===== */
#form-save {
	height:50px;
	margin:0 auto;
	text-align:center;
	width:850px;
}
#form-save #clearForm, #step-2 #save, #step-2 #preview {
	background-color:#141414;
	background-image: linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
    background-image: -o-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
    box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    -moz-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    -webkit-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
	border:1px #2E4363 solid;
	color:#9dd4fe;
	font-weight:bold;
	margin:0 20px;
	padding:7px;
	width:200px;
}
	#form-save #clearForm:hover, #step-2 #save:hover, #step-2 #preview:hover {
		background-image: linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
	    background-image: -o-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
	    background-image: -moz-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
	    background-image: -webkit-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
	    background-image: -ms-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
		color:#fff;
	}

/* ===== entry forms formatting ===== */
.entryWrapper label.error { 
    float: right!important; 
    color: #ffe450!important; 
    padding-left: .5em!important; 
    vertical-align: top;
}
.entryWrapper p { 
    clear: both;
	margin-bottom:10px;
}
.entryWrapper .submit { 
    margin-left: 12em; 
}
#step-2 {
    display: none;
    position: relative;
}
h3.form-section-title {
	color:#fff;
	font-family:Gotham, Helvetica, sans-serif;
	font-size: 18px;
	margin-bottom:20px;
	text-transform:uppercase;
}
#step-2 span.add-source, #step-2 span.add-narrative, #step-2 span.add-location-date {
	background-color:#141414;
	background-image: linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -o-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    -moz-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    -webkit-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
	border:1px #2E4363 solid;
	color:#9dd4fe;
	display:block;
	font-weight:bold;
	margin-left:230px;
	padding:7px;
	width:120px;
}
	#step-2 span.add-source:hover, #step-2 span.add-narrative:hover, #step-2 span.add-location-date:hover {
		 background-color:#141414;
         background-image: linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
         background-image: -o-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
         background-image: -moz-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
         background-image: -webkit-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
         background-image: -ms-linear-gradient(bottom, rgb(29,29,29) 0%, rgb(21,21,21) 100%);
		color:#fff;
	}
.entryWrapper #step-2 #required-fields .country {width:200px;}
.entryWrapper #step-2 #required-fields .state {margin-bottom:10px; width:100px;}

#inputform.spacer {
    margin-top: 60px;
}
#loader {
    background: transparent url("../images/ajax-loader.gif") no-repeat left top;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
}
#categories {
    width: 190px;
}
#target {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 50px;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
}
#tooltip {
	background-color:#141414;
	background-image: linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -o-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    -moz-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    -webkit-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
	border:1px #2E4363 solid;
	color:#b9b9b9;
    padding: 10px 15px;
    position: absolute;
    width: 200px;
    display: none;
    text-align: left;
	font-size:.85em;
}

.inputFormSection .location-date-module .city {
	margin-top:10px;
}

/* AUTOCOMPLETE */
#name {
    width: 300px;
    border: 1px solid #555;
}

.entrywrapper .ui-autocomplete.ui-menu {
    width: 300px;
}

/* Person-form specific */
.req-title {
	color:#e7e7dd;
	display:inline;
	float:left;
	font-family:Gotham, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	margin:0 10px 0 0;
	text-transform:uppercase;
}
#isdead-check {color:#9dd4fe;}
	#isdead-check input {margin-right:5px;}