.contentWrapper {
    color:#fff;
	font-family:Helvetica, sans-serif;
	font-size:75%;
	}

/*-------------------- shaded bar title bar ------------*/

.pLogo {background: url('../images/pLogo.png'); 
		width: 150px; 
		height: 180px; 
		position:relative; 
		z-index:1; 
		margin-top:-15px;
		float: left;
		}

.entryMast {
	width: 100%;
	background:url('../images/barBg.png') repeat-x;
	}

.HOCGtitle {
	color:#DBDBDB;
	font-family:Gotham, Helvetica, sans-serif;
	text-transform: uppercase;
	width: 815px;
	margin: 0 auto;
	padding: 5px 0 5px 175px;
	}


/*-------------------- about the history of cg container ------------*/

.AboutHOCGSection {
	background-image:url("../images/shadesBg.png");
}

.aboutHOCG {
    min-height:265px;
    width: 990px;
    margin: 0 auto;
	}

ul.aboutHOCGContainer {
    margin: 0 auto 20px auto;
	padding:10px 0;
	width:990px;
}

.columns {
     width: 600px;
     float: left;
     margin-left: 20px;
    }

.columns .column {
    position: relative;
    width: 46%;
    padding: 1%;
    margin-top:10px;
    }

.columns .left {
    float: left;
    }

.columns .right {
    float: right;
    }

/*-------------------- about the CREATORS section ------------*/

.groupPhotoArrow {background: url('../images/groupPhotoArrow.png');
		width: 20px;
		height: 40px;
		position: relative;
		z-index:2; 
		float:left;
		margin-top: 25px;
		}
		
/*-------------------- about the CREATORS section ------------*/ 


#brian {
	display: block;
	width: 50px;
	height: 215px;
	border: 1px solid red;
	position: absolute;
	z-index: 500;
	left: 20px;
	top: 50px;
}

#terrence {
	display: block;
	width: 50px;
	height: 215px;
	border: 1px solid red;
	position: absolute;
	z-index: 501;
	left: 72px;
	top: 40px;
}

#amy {
	display: block;
	width: 51px;
	height: 215px;
	border: 1px solid red;
	position: absolute;
	z-index: 502;
	left: 123px;
	top: 56px;
}

#connie {
	display: block;
	width: 50px;
	height: 200px;
	border: 1px solid red;
	position: absolute;
	z-index: 503;
	left: 175px;
	top: 48px;
}

#michelle {
	display: block;
	width: 52px;
	height: 200px;
	border: 1px solid red;
	position: absolute;
	z-index: 504;
	left: 228px;
	top: 75px;
}

#stefano {
	display: block;
	width: 58px;
	height: 215px;
	border: 1px solid red;
	position: absolute;
	z-index: 505;
	left: 290px;
	top: 30px;
}

#james {
	display: block;
	width: 60px;
	height: 215px;
	border: 1px solid red;
	position: absolute;
	z-index: 506;
	left: 350px;
	top: 50px;
}
	
.moreInfo {
	width: 245px;
	height: 300px;
	display: block;
	background-color: #1a1c1d;
	border: 1px solid #ffffff;
	color: #e6e6e6;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	z-index: 600;
	
}

.picture_MAG {
	width: 104px;
	height: 104px;
	background:url('../images/picture_MAG.png');
	float: left;
	margin: 10px;
	z-index: 601;
}

#name_MAG {
	color:#DBDBDB;
	font-family:Gotham-thin, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	margin-top: 10px;
}

#role_MAG {
	color:#DBDBDB;
	font-family:Gotham-regular, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	margin-top: 2px;
}

#info_MAG {
	color:#DBDBDB;
	font-family: Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 40px;
	padding: 0 10px 10px 10px;
}

/* ------------------------Connie's mini bio -----------------------------*/

.picture_CYC {
	width: 104px;
	height: 104px;
	background:url('../images/picture_CYC.png');
	float: left;
	margin: 10px;
	z-index: 603;
}

#name_CYC {
	color:#DBDBDB;
	font-family:Gotham-thin, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	margin-top: 10px;
}

#role_CYC {
	color:#DBDBDB;
	font-family:Gotham-regular, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	margin-top: 2px;
}

#info_CYC {
	color:#DBDBDB;
	font-family: Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 40px;
	padding: 0 10px 10px 10px;
}
	
/*
.moreInfo_MAG {background: url('../images/moreInfo_MAG.png');
		width: 245px;
		height: 301px;
		position: relative;
		z-index:4; 
		float:left;
		margin-top: 10px;
		margin-left: 10px;
		}
		
.moreInfo_CYC {background: url('../images/moreInfo_CYC.png');
		width: 245px;
		height: 301px;
		position: relative;
		z-index:4; 
		float:left;
		margin-top: 10px;
		margin-left: 10px;
		}
		
.moreInfo_SKD {background: url('../images/moreInfo_SKD.png');
		width: 245px;
		height: 301px;
		position: relative;
		z-index:4; 
		float:left;
		margin-top: 10px;
		margin-left: 10px;
		}
		
.moreInfo_AS {background: url('../images/moreInfo_AS.png');
		width: 245px;
		height: 301px;
		position: relative;
		z-index:4; 
		float:left;
		margin-top: 10px;
		margin-left: 10px;
		}
		
.moreInfo_JS {background: url('../images/moreInfo_JS.png');
		width: 245px;
		height: 301px;
		position: relative;
		z-index:4; 
		float:left;
		margin-top: 10px;
		margin-left: 10px;
		}
		
.moreInfo_TM {background: url('../images/moreInfo_TM.png');
		width: 245px;
		height: 301px;
		position: relative;
		z-index:4; 
		float:left;
		margin-top: 10px;
		margin-left: 10px;
		}
		
.moreInfo_BS {background: url('../images/moreInfo_BS.png');
		width: 245px;
		height: 301px;
		position: relative;
		z-index:4; 
		float:left;
		margin-top: 10px;
		margin-left: 10px; */
		}
		
/*-------------------- END about the CREATORS section ------------*/

.entryMast2 {
	width:100%;
	background:url('../images/barBg.png') repeat-x;
	}
	
.USsectionTitle {
	color:#DBDBDB;
	font-family:Gotham, Helvetica, sans-serif;
	text-transform: uppercase;
	width:990px;
	margin: 0 auto;
	padding: 5px 0;
	}

	
/*-------------------- about THE CREATORS container ------------*/

.AboutUsSection {
	background:url("../images/shadesBg.png");
}

.aboutCreators {
 	margin: 0 auto;
	width: 990px;
    min-height:375px;
    position:relative;
	}

ul.aboutCreatorsContainer {
	margin: 0 auto;
	padding:10px 0;
	width:990px;
}


.groupPhoto {background: url('../images/groupPhoto.png'); 
		width: 500px; 
		height: 300px; 
		position:relative; 
		z-index:3;
		float:left;
		margin-top: 10px;
		}
}