.contentWrapper {
    color:#fff;
	font-family:Helvetica, sans-serif;
	font-size:75%;
}
/* --- categories bah --- */
.entryMast {
	background-image:url('../images/barBg.png');
	background-position:0 48px;
	background-repeat:repeat-x;
    margin:20px auto 0 auto;
    padding:0;
}
ul.catBar {
    background-color:#0f0f0f;
	font-family:Gotham, Helvetica, sans-serif;
    margin:0 auto;
    text-transform:uppercase;
	width:990px;
}
    ul.catBar li {
        display:inline;
    }
    ul.catBar li a {
        float:left;
        font-size:16px;
        padding:6px 14px 3px 14px;
    }
    ul.catBar li.category.selected a,
    ul.catBar li.category a:hover {
        color:white;
        text-decoration:none;
    }
    ul.catBar .category.project a {color:#fc6500;}
        ul.catBar .category.project a:hover,
        ul.catBar .category.project.selected a {background-color:#fc6500;}
    ul.catBar .category.person a {color:#00b8d9;}
        ul.catBar .category.person a:hover,
        ul.catBar .category.person.selected a {background-color:#00b8d9;}
    ul.catBar .category.organization a {color:#7bd900;}
        ul.catBar .category.organization a:hover, 
        ul.catBar .category.organization.selected a {background-color:#7bd900;}
    ul.catBar .category.event a {color:#d200ff;}
        ul.catBar .category.event a:hover,
        ul.catBar .category.event.selected a {background-color:#d200ff;}
    ul.catBar .editEntry a {
        color:#393a3a;
        float:right;
        font-size:12px;
        text-transform:none;
    }
    ul.catBar .editEntry a:hover {color:#9dd4fe;}

/* ----- tag lists ----- */
.tagLists {background-image:url('../images/shadeFlatBg.png');}

.tagLists div {
    clear: both;
    height: 100px;
    margin: 0 auto;
	width:990px;
}

.tagLists div ul {
    float: left;
    margin-right: 50px;
}

.tagLists div ul li {
    padding: 10px;
}

/* ----- mosaic content ----- */
.mosaicBody {
	background-image:url("../images/shadesBg.png");
    min-height:500px;
}

ul.mosaicContainer {
    margin: 0 auto 20px auto;
	padding:10px 0;
	width:990px;
}

ul.mosaicContainer li.dynamic .filterList li {
    list-style: none;
    margin: 5px;
}

ul.mosaicContainer li.dynamic .filterList li a {
    text-decoration: none;
    color: #e4e7fa;
    font-size: 15px;
}

ul.mosaicContainer .tile, ul.mosaicContainer .dynamic {
    float: left;
    margin: 5px;
    border: 1px solid #e4e7fa;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background-color: #222228;
    position: relative;
    overflow: hidden;
}

ul.mosaicContainer li.tile p {
    margin: 10px;
    font-size: 15px;
}

ul.mosaicContainer li.dynamic {
    border-left: none !important;
    border-right:none !important;
    border-bottom: none !important;
    width: 500px;
    height: 180px;
}

ul.mosaicContainer li.dynamic p {
    margin: 5px;
    font-size: 15px;
}

ul.mosaicContainer li.tile a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #e4e7fa;
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 0;
}

ul.mosaicContainer li.tile a span {
    margin-left: 8px;
}

ul.mosaicContainer .person {
   border: 1px solid #00b8d9 !important;
}
ul.mosaicContainer .person a {
    background-color: #00b8d9 !important;
}

ul.mosaicContainer .project {
   border: 1px solid #fc6500 !important;
}
ul.mosaicContainer .project a {
    background-color: #fc6500 !important;
}

ul.mosaicContainer .organization {
   border: 1px solid #7bd900 !important;
}
ul.mosaicContainer .organization a {
    background-color: #7bd900 !important;
}

ul.mosaicContainer .event {
   border: 1px solid #d200ff !important;
}
ul.mosaicContainer .event a {
    background-color: #d200ff !important;
}

/**** isotope ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
