.entryWrapper .inputSection { /*#step-1, #required-fields, #optional-fields*/
	border-top:1px #e4e7fa solid;
	background-image: -moz-linear-gradient(
	  rgba(0,0,0,0.45) 0%, rgba(23,23,23,0.45) 95%
	);
	background-image: -webkit-gradient(
	  linear, left top, left bottom, from(rgba(0,0,0,0.45)),
	  to(rgba(23,23,23,0.45))
	);
	margin:0 auto 18px auto;
	padding:27px;
	width:800px;
}

.entryWrapper .inputSection.project {border-top: 1px solid #fc6500 !important;}
.entryWrapper .inputSection.person {border-top: 1px solid #00b8d9 !important;}
.entryWrapper .inputSection.organization {border-top: 1px solid #7bd900 !important;}
.entryWrapper .inputSection.event {border-top: 1px solid #d200ff !important;}

.entryWrapper .inputFormSections form label {
	color:#e7e7e4;
	float:left;
	font-size:.85em;
	font-weight:normal;
	height:20px;
	margin:3px 0;
	padding: 0 10px 0 0;
	text-align:right;
	text-transform:lowercase;
	width:220px!important;
}
.inputFormSections input[type=text], .inputFormSections textarea, .inputFormSections select, .inputFormSections li {
	background-color:#e0dcd9;
	border:none!important;
	margin:0;
}
.inputFormSections input[type=text], .inputFormSections textarea, .inputFormSections select#categories {
	height:24px!important;
	width:300px!important;
}

/* ===== entry forms formatting ===== */

.entryWrapper label.error { 
    float: right!important; 
    color: #ffe450!important; 
    padding-left: .5em!important; 
    vertical-align: top;
}
.entryWrapper p { 
    clear: both;
	margin-bottom:10px;
}
.entryWrapper .submit { 
    margin-left: 12em; 
}
#step-2 {
    display: none;
    position: relative;
}
.entryWrapper input.message, .entryWrapper select option.message {
}
#inputform.spacer {
    margin-top: 60px;
}
#loader {
    background: transparent url("../images/ajax-loader.gif") no-repeat left top;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
}
#categories {
    width: 190px;
}
#target {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    background-color: #888;
    color: #FFF;
    width: 100%;
    height: 50px;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
}
#tooltip {
    position: absolute;
    background-color: #000;
    border: 1px solid #fff;
    padding: 10px 15px;
    width: 200px;
    display: none;
    color: #fff;
    text-align: left;
    font-size: 12px;

    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
}
.inputFormSection .location-date-module .city {
	margin-top:10px;
}

/* AUTOCOMPLETE */
#name {
    width: 300px;
    border: 1px solid #555;
}

.entryWrapper .ui-autocomplete-loading { background: white url('../images/small-loader.gif') right center no-repeat; }

.entryWrapper .ui-autocomplete.ui-menu {
    font: 0.96em Verdana;
    width: 300px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    cursor: default;
    padding: 0;
    margin: 0;
    z-index: 1;
    overflow: hidden;
}
.entryWrapper .ui-autocomplete li.ui-menu-item {
    padding: 0px;
    margin: 0px;
    font-size: 0.98em;
    list-style-type: none;
    height:1.5em;
    clear: both;
}

.entryWrapper .ui-autocomplete li.ui-menu-item a {
    display: block;
    text-decoration: none;
    height: 1.5em;
    line-height: 1.5em;
    padding: 3px;
}

.entryWrapper.ui-autocomplete li.ui-menu-item a.ui-state-hover, 
.entryWrapper .ui-autocomplete li a#ui-active-menuitem,
.entryWrapper .ui-autocomplete li a#ui-active-menuitem span {
    background-color: #777;
    color: #fff;
}

.entryWrapper .autocomplete-name {
    color: #333;
    float: left;
}
.entryWrapper .autocomplete-name-category {
    color: #777;
    float: right;
}
.entryWrapper .autocomplete-name-term-highlight {
    font-weight: bold;
    color: #000;
}

