.contentWrapper {
    color:#fff;
	font-family:Helvetica, sans-serif;
	font-size:75%;
	}
#HOCGtitle, #HOCGcreators {
	background-color:#0F0F0F;
	margin: 0 auto;
	padding:0;
}
	#HOCGtitle h3, #HOCGcreators h3 {
		color:#DBDBDB;
		font-family:Helvetica, sans-serif!important;
		font-weight:bold;
		margin:0 auto!important;
		text-transform:none!important;
		padding: 5px 0;
		width:575px;
		}
			#HOCGcreators h3 {width:990px!important;}
.about-section {
	background-image:url("../images/shadesBg.png");
	margin:0 auto;
	padding:0 0 20px 0;
}
/*-------------------- about the history of cg container ------------*/
.AboutUsSection {
	background:url("../images/shadesBg.png");
}
.pLogo {
	background: url('../images/pLogo.png'); 
	width: 150px; 
	height: 180px; 
	position:relative; 
	z-index:1; 
	margin:-15px 30px 0 0;
	float: left;
}

.aboutHOCG {
    min-height:265px;
    width: 990px;
    margin: 0 auto;
	}

.columns {
	width: 790px;
	float: left;
	margin-left: 20px;
}
	.columns .column {
	    position: relative;
	    width: 46%;
	    padding: 1%;
	    margin-top:10px;
	    }
		.columns .left {float: left;}
		.columns .right {float: right;}

/*-------------------- about the CREATORS section ------------*/
.aboutCreators {
 	margin: 0 auto;
	width: 990px;
    min-height:375px;
    position:relative;
	}
.groupPhoto {
	background: url('../images/groupPhoto.png'); 
	width: 500px; 
	height: 300px; 
	position:relative; 
	z-index:3;
	float:left;
	margin-top: 10px;
}
.groupPhotoArrow {
	background: url('../images/groupPhotoArrow.png');
	width: 20px;
	height: 40px;
	position: relative;
	z-index:2; 
	float:left;
	margin-top: 25px;
}
#brian, #terrence, #amy, #connie, #michelle, #stefano, #james {
	border:0;
	display: block;
	font-size:0;
	position: absolute;
	text-indent:9999px;
}
	#brian {
		width: 50px;
		height: 215px;
		z-index: 500;
		left: 20px;
		top: 50px;
	}

	#terrence {
		width: 50px;
		height: 215px;
		z-index: 501;
		left: 72px;
		top: 40px;
	}

	#amy {
		width: 51px;
		height: 215px;
		z-index: 502;
		left: 123px;
		top: 56px;
	}

	#connie {
		width: 50px;
		height: 200px;
		z-index: 503;
		left: 175px;
		top: 48px;
	}

	#michelle {
		width: 52px;
		height: 200px;
		z-index: 504;
		left: 228px;
		top: 75px;
	}

	#stefano {
		width: 58px;
		height: 215px;
		z-index: 505;
		left: 290px;
		top: 30px;
	}

	#james {
		width: 60px;
		height: 215px;
		z-index: 506;
		left: 350px;
		top: 50px;
	}
	
/*-------------------- about the CREATORS section BIOS BOX ------------*/
.moreInfo {
	background-color: #1a1c1d;
	border: 1px solid #ffffff;
	color: #e6e6e6;
	display: block;
	float:right;
	height: 300px;
	margin:13px 0 0 0;
	width: 245px;
}
.bio-picture {
	width: 104px;
	height: 104px;
	background:url('../images/picture_MAG.png');
	float: left;
	margin: 10px;
	z-index: 601;
}
.bio-name {
	color:#DBDBDB;
	font-family:Gotham-thin, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	margin-top: 10px;
}
.bio-role {
	color:#DBDBDB;
	font-family:Gotham-regular, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	margin-top: 2px;
}
.bio-info {
	color:#DBDBDB;
	font-family: Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 40px;
	padding: 0 10px 10px 10px;
}