#homeWrapper #page {
    margin:0 auto;
    width:990px;
}

#homeWrapper #homeBranding {
    clear:both;
    text-align:center;
}

#homeSearch {
    margin: 40px auto 0 auto;
    width:375px;
}
    #homeSearch .search input.searchBox {
        height:25px;
        width:325px;
    }
    #homeSearch .search button.searchBtn {
        background-image:url('../img/homeSearchBtn.png')!important;
        height:35px!important;
        width:35px!important;
    }
        #homeSearch .search button.searchBtn:active {
            background-position:0 -32px!important;
        }

.ui-autocomplete.ui-menu {
    margin-left: 3px;
    width: 370px !important;
}

div.timeline {
    margin-top:75px;
}

#recentlyUpdated {
    text-align: center;
}
