div.lite {
    position: relative; left: 0; top: 0
}
img.lite:hover {
    background:url(http://lh5.googleusercontent.com/-oBFjswrosz4/TuHqainRc3I/AAAAAAAAAbE/t3rMQuSJdLA/s800/youtube-play-button-hover.png)
}
