/* -------- Imports --------- */
@import "colors";

.contentWrapper {
    color:#fff;
    font-family:Helvetica, sans-serif;
    font-size:75%;
}

/* --- categories bah --- */
.entryMast {
    background-image:url('../img/barBg.png');
    background-position:0 48px;
    background-repeat:repeat-x;
    margin:20px auto 0 auto;
    padding:0;
}


ul.catBar {
    background-color:#0f0f0f;
    font-family:Gotham, Helvetica, sans-serif;
    margin:0 auto;
    text-transform:uppercase;
    width:990px;
    
    li {
        display:inline;

        a {
            float:left;
            font-size:16px;
            padding:6px 14px 3px 14px;
        }    
    }
    li.editEntry {
        a {
            color:#393a3a;
            float:right;
            font-size:12px;
            text-transform:none;
            &:hover {
                color:#9dd4fe;
            }
        }
    } 
    li.category {
        &.selected, a, a:hover {
            text-decoration: none;
        }
        &.selected a, a:hover {
            color: white !important;
        }
        &.project {
            a {
                color:$project;
            }
            &.selected a, a:hover {
                background-color: $project !important;
            }
        }
        &.person {
            a {
                color:$person;
            }
            &.selected a, a:hover {
                background-color: $person !important;
            }
        }
        &.organization {
            a {
                color:$org;
            }
            &.selected a, a:hover {
                background-color: $org !important;
            }
        }
        &.event {
            a {
                color:$event;
            }
            &.selected a, a:hover {
                background-color: $event !important;
            }
        }
    }
}
    

/* ----- tag lists ----- */
.tagLists {
    background-image:url('../img/shadeFlatBg.png');
    padding:10px 0 0 0;
}

.tagLists div {
    background-image: linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -o-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%); 
    border:1px #1b222a solid;
    box-shadow: inset 0 0 1px 1.5px #0f0f0f; 
    -moz-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    -webkit-box-shadow: inset 0 0 1px 1.5px #0f0f0f;
    clear: both!important;
    color:#9fd6ff;
    min-height:100px;
    margin: 0 auto;
    padding:5px 5px 0 5px;
    width:990px;
}

.tagLists div ul {
    float: left;
    margin-right: 50px;
}

.tagLists div ul li {
    padding: 5px;
}

.tagLists div input {margin-right:5px;}

/* ----- mosaic content ----- */
.mosaicBody {
    background-image:url("../img/shadesBg.png");
    background-repeat:repeat-x;
    min-height:400px;
}

ul.mosaicContainer {
    margin:0 auto 20px auto;
    padding:10px 0;
    width:990px;
}

ul.mosaicContainer.loading {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
}

ul.mosaicContainer li.dynamic .filterList li {
    list-style: none;
    margin: 5px;
}

ul.mosaicContainer li.dynamic .filterList li a {
    text-decoration: none;
    color: #e4e7fa;
    font-size: 15px;
}

ul.mosaicContainer .tile, ul.mosaicContainer .dynamic {
    //float: left;
    border: 1px solid #e4e7fa;
    margin: 0px 2px 10px 2px;
    padding: 0;
    width: 240px;
    font-size: 20px;
    background-color: #222228;
    position: relative;
    overflow: hidden;
    //clear: both;
    p {color:#fff;}
}

ul.mosaicContainer li.tile.story-image {
    width: 240px;
}

ul.mosaicContainer li.tile.story-image.double-size {
    width: 486px;
}

ul.mosaicContainer li.tile.story-image img, ul.mosaicContainer li.tile.connection img {
    margin-bottom: -5px;
}

ul.mosaicContainer li.tile.story-video {
    width: 486px;
}

ul.mosaicContainer li.tile .container {
    width: 100%;
    min-height: 100px;
    margin: 0;
    padding: 0;
}

ul.mosaicContainer li.tile .container p {
    margin: 10px;
    font-size: 15px;
    color:#fff;
}

ul.mosaicContainer li.dynamic {
    border-left: none !important;
    border-right:none !important;
    border-bottom: none !important;
    width: 486px;
    min-height: 150px;
}

ul.mosaicContainer li.dynamic p {
    margin: 10px 10px;
    font-size: 15px;
}

ul.mosaicContainer li.tile .bottom-link {
    display: block;
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    background-color: #333;
    text-decoration: none;
    color: #fff;
    overflow: hidden;

    span.story-type {
        float:right;
        margin-top: 5px;
        margin-right: 3px;
        height:25px;

        &.story-type-icon-text {
            background:url('../img/richMedia_icons.png');
            background-position:1px 0;
            background-repeat:no-repeat;
            width:25px;
        }
        &.story-type-icon-image {
            background:url('../img/richMedia_icons.png');
            background-position:-23px 0;
            background-repeat:no-repeat;
            width:25px;
        }
        &.story-type-icon-video {
            background:url('../img/richMedia_icons.png');
            background-position:-46px 0;
            background-repeat:no-repeat;
            width:25px;
        }
    }

}

ul.mosaicContainer li.tile.connection .bottom-link a.link-button  {
    width: 30px;
    height: 30px;
    float: right;
    background-color:#fff;
    opacity:0.5;
    position: relative;
}

ul.mosaicContainer li.tile.connection .bottom-link a.link-button .triangle {
    position: absolute;
    top: 10px;
    left: 6px;
    border-left: 6px solid #444;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    width: 0;
    height: 0;
}

ul.mosaicContainer li.tile .bottom-link span {
    margin-left: 8px;
    word-wrap: break-word;
    float: left;
    width: 80%;
}

ul.mosaicContainer .person {
   border: 1px solid $person !important;
}
ul.mosaicContainer .person .bottom-link {
    background-color: $person !important;
}

ul.mosaicContainer .project {
   border: 1px solid $project !important;
}
ul.mosaicContainer .project .bottom-link {
    background-color: $project !important;
}

ul.mosaicContainer .organization {
   border: 1px solid $org !important;
}
ul.mosaicContainer .organization .bottom-link {
    background-color: $org !important;
}

ul.mosaicContainer .event {
   border: 1px solid $event !important;
}
ul.mosaicContainer .event .bottom-link {
    background-color: $event !important;
}

/**** isotope ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

