ul.token-input-list-hcg {
    overflow: hidden; 
	height:auto!important;
    min-height: 19px!important;
    width: 300px;
    border: 0;
    cursor: text;
    font-size: 0.98em;
    font-family: Verdana;
    min-height: 1px;
    line-height: 0.98em;
    z-index: 999;
    margin: 0;
    padding: 3px 0;
    background-color: #e0dcd9;
    list-style-type: none;
}

ul.token-input-list-hcg li input {
    border: 0;
    padding: 1px 3px;
    background-color: #e0dcd9;
    margin: 1px 0;
    font: inherit;
    -webkit-appearance: caret;
}

li.token-input-token-hcg {
    overflow: hidden; 
    height: auto !important; 
    margin: 0 2px!important;
    padding: 1px 1px 1px 3px;
	background-color:#141414;
	background-image: linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -o-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    cursor: default;
    border: 1px solid #888;
    font-size: 0.98em;
    float: left;
    white-space: nowrap;
}
	li.token-input-token-hcg p {
		padding:3px auto!important;
	}

.inputFormSections .token-input-input-token-hcg input {
	height:auto!important;
	width:auto!important;
}

li.token-input-token-hcg p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-hcg span {
    color: #888;
    margin: 1px 0 0 2px;
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
    width: 11px;
    height: 11px;
    line-height: 9px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

li.token-input-token-hcg span:hover {
    color: #fff;
    background: #555;
}

li.token-input-selected-token-hcg {
    background-color: #555;
    border: 1px solid #aaa;
    color: #fff;
}

li.token-input-input-token-hcg {
    float: left;
    margin: 0;
    padding: 1px;
    list-style-type: none;
}
li.token-input-dragged-token-hcg {
    opacity: 0;
}
li.token-input-dragged-clone-hcg {
    position: absolute;
    margin: 5px 0 0 5px;
    padding: 2px 6px;
    list-style: none;
    font-size: 0.96em;
    font-family: Verdana;
    cursor: move;
}
li.token-input-dragged-clone-hcg span {
    display: none;
}

li.token-input-insert-before-hcg {
    border-left: 1px solid red;
}

li.token-input-insert-after-hcg {
    border-right: 1px solid red;
}

div.token-input-dropdown-hcg {
    position: absolute;
    width: 300px;
    
    background-color: #141414;
    background-image: linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -o-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(21,21,21) 0%, rgb(29,29,29) 100%);
    border-radius:5px;
    box-shadow: 0 0 1px 1.5px #0f0f0f;
    -moz-box-shadow: 0 0 1px 1.5px #0f0f0f;
    -webkit-box-shadow: 0 0 1px 1.5px #0f0f0f;

    margin-top:3px;
    overflow: hidden;
    border: 1px solid lighten(#1d1e22,10%);
    cursor: default;
    font-size: 0.96em;
    font-family: Verdana;
    z-index: 999;
    color: #fff;
}

div.token-input-dropdown-hcg p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #555;
}

div.token-input-dropdown-hcg ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-hcg ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    font-size: 0.98em;
    list-style-type: none;
}

div.token-input-dropdown-hcg ul li.token-input-dropdown-item-hcg {
    background-color: #fff;
}

div.token-input-dropdown-hcg ul li.token-input-dropdown-item2-hcg {
    background-color: #fff;
}

div.token-input-dropdown-hcg ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-hcg ul li.token-input-selected-dropdown-item-hcg {
    background-color: #555;
    color: #fff;
}

